## 교통량에 대한 행정동별 가중치 계산하는 코드

In [3]:
import pandas as pd

df = pd.read_csv("./data/traffic.csv", encoding="cp949")
df.head()

    도로명                  구간명        교통량(대)  주소1  주소2
0   광장로    동극섬유 -> 이마트앞교차로서측   8073.666667  불당동  불당동
1   광장로  배방1교차로 -> 이마트앞교차로서측   8131.250000  불당동  불당동
2   광장로    이마트앞교차로서측 -> 동극섬유  12751.083330  불당동  불당동
3   광장로  이마트앞교차로서측 -> 배방1교차로   8381.250000  불당동  불당동
4  남부대로       새말사거리 -> 신방삼거리  17224.416670  신방동  신방동

In [5]:
df = df[['도로명', '구간명', '교통량(대)', '주소1', '주소2']]

In [7]:
mylist = []

for i in df["주소1"]:
    mylist.append(i.strip())

df["주소1"] = mylist

mylist2 = []

for i in df["주소2"]:
    mylist2.append(i.strip())

df["주소2"] = mylist2

In [9]:
address1 = list(pd.unique(df["주소1"]))
address1

['불당동',
 '신방동',
 '청룡동',
 '신안동',
 '중앙동',
 '부성동',
 '성정동',
 '백석동',
 '성거읍',
 '입장면',
 '원성동',
 '봉명동',
 '쌍용동',
 '목천읍',
 '직산읍',
 '성환읍']

In [11]:
address2 = list(pd.unique(df["주소2"]))
address2

['불당동',
 '신방동',
 '청룡동',
 '중앙동',
 '신부동',
 '신안동',
 '성정동',
 '백석동',
 '부성동',
 '부상동',
 '입장면',
 '성거읍',
 '원성동',
 '봉명동',
 '쌍용동',
 '직산읍',
 '목천읍',
 '성환읍']

In [13]:
adress_list = address2+address1

In [15]:
final_adress_list = []
for adress in adress_list:
    final_adress_list.append(adress.strip())

In [17]:
final_adress_list

['불당동',
 '신방동',
 '청룡동',
 '중앙동',
 '신부동',
 '신안동',
 '성정동',
 '백석동',
 '부성동',
 '부상동',
 '입장면',
 '성거읍',
 '원성동',
 '봉명동',
 '쌍용동',
 '직산읍',
 '목천읍',
 '성환읍',
 '불당동',
 '신방동',
 '청룡동',
 '신안동',
 '중앙동',
 '부성동',
 '성정동',
 '백석동',
 '성거읍',
 '입장면',
 '원성동',
 '봉명동',
 '쌍용동',
 '목천읍',
 '직산읍',
 '성환읍']

In [19]:
adress_list = []
for ad in final_adress_list:
    if ad not in adress_list:
        adress_list.append(ad)

In [12]:
# new_df = pd.DataFrame(adress_list, columns=["행정동"])

In [13]:
# new_df

In [21]:
sub_df1 =  df[["주소1", "교통량(대)"]]
sub_df2 =  df[["주소2","교통량(대)" ]]

In [23]:
sub_df1 = sub_df1.rename(columns={'주소1': '주소'})
sub_df2 = sub_df2.rename(columns={'주소2': '주소'})

sub_df = pd.concat([sub_df1, sub_df2])

In [25]:
sub_df

      주소        교통량(대)
0    불당동   8073.666667
1    불당동   8131.250000
2    불당동  12751.083330
3    불당동   8381.250000
4    신방동  17224.416670
..   ...           ...
163  원성동  11549.000000
164  청룡동   3994.750000
165  청룡동    218.000000
166  청룡동   4076.333333
167  원성동  10278.250000

[336 rows x 2 columns]

In [27]:
my_df = sub_df.groupby('주소').agg('sum')
my_df.shape

(18, 1)

In [29]:
my_df = my_df.drop(['부상동'], axis=0)

In [31]:
my_df = my_df.reset_index()
my_df

     주소         교통량(대)
0   목천읍   19788.583333
1   백석동  526936.833310
2   봉명동   13284.750003
3   부성동  705970.999981
4   불당동  562633.499997
5   성거읍   37137.416660
6   성정동  364291.083318
7   성환읍   22782.000000
8   신방동  290470.250011
9   신부동    6343.250000
10  신안동  346398.249986
11  쌍용동  480508.249987
12  원성동  137961.916670
13  입장면       0.000000
14  중앙동   46727.250000
15  직산읍       0.000000
16  청룡동  488841.416656

In [33]:
import re
new_rows = []
for _, row in my_df.iterrows():
    adress = row['주소']
    traffic = row['교통량(대)']
    
    if adress in ["원성동", "성정동", "불당동", "부성동"]:
        result = re.sub(r'동$', '', adress)
        myadress1 = f'{result}1동'
        myadress2 = f'{result}2동'
        
        traffic1 = traffic / 2
        traffic2 = traffic / 2
        
        new_rows.append({'주소': myadress1, '교통량(대)': traffic1})
        new_rows.append({'주소': myadress2, '교통량(대)': traffic2})
        
    elif adress == "쌍용동":
        result = re.sub(r'동$', '', adress)
        myadress1 = f'{result}1동'
        myadress2 = f'{result}2동'
        myadress3 = f'{result}3동'
        
        traffic1 = traffic / 3
        traffic2 = traffic / 3
        traffic3 = traffic / 3
        
        new_rows.append({'주소': myadress1, '교통량(대)': traffic1})
        new_rows.append({'주소': myadress2, '교통량(대)': traffic2})
        new_rows.append({'주소': myadress3, '교통량(대)': traffic3})
        
    else:
        new_rows.append({'주소': adress, '교통량(대)': traffic})

new_df = pd.DataFrame(new_rows)

In [35]:
print(new_df)
from sklearn.preprocessing import MinMaxScaler
minmax= MinMaxScaler()

new_df['가중치'] = minmax.fit_transform(new_df[['교통량(대)']])

      주소         교통량(대)
0    목천읍   19788.583333
1    백석동  526936.833310
2    봉명동   13284.750003
3   부성1동  352985.499991
4   부성2동  352985.499991
5   불당1동  281316.749998
6   불당2동  281316.749998
7    성거읍   37137.416660
8   성정1동  182145.541659
9   성정2동  182145.541659
10   성환읍   22782.000000
11   신방동  290470.250011
12   신부동    6343.250000
13   신안동  346398.249986
14  쌍용1동  160169.416662
15  쌍용2동  160169.416662
16  쌍용3동  160169.416662
17  원성1동   68980.958335
18  원성2동   68980.958335
19   입장면       0.000000
20   중앙동   46727.250000
21   직산읍       0.000000
22   청룡동  488841.416656

In [39]:
new_df.sort_values("가중치", ascending=False)

      주소         교통량(대)       가중치
1    백석동  526936.833310  1.000000
22   청룡동  488841.416656  0.927704
3   부성1동  352985.499991  0.669882
4   부성2동  352985.499991  0.669882
13   신안동  346398.249986  0.657381
11   신방동  290470.250011  0.551243
6   불당2동  281316.749998  0.533872
5   불당1동  281316.749998  0.533872
8   성정1동  182145.541659  0.345669
9   성정2동  182145.541659  0.345669
15  쌍용2동  160169.416662  0.303963
16  쌍용3동  160169.416662  0.303963
14  쌍용1동  160169.416662  0.303963
17  원성1동   68980.958335  0.130909
18  원성2동   68980.958335  0.130909
20   중앙동   46727.250000  0.088677
7    성거읍   37137.416660  0.070478
10   성환읍   22782.000000  0.043235
0    목천읍   19788.583333  0.037554
2    봉명동   13284.750003  0.025211
12   신부동    6343.250000  0.012038
19   입장면       0.000000  0.000000
21   직산읍       0.000000  0.000000

In [41]:
new_list = []
new_list.append({'주소': '풍세면', '교통량(대)': 0})
new_list.append({'주소': '광덕면', '교통량(대)': 0})
new_list.append({'주소': '북면', '교통량(대)': 0})
new_list.append({'주소': '성남면', '교통량(대)': 0})
new_list.append({'주소': '수신면', '교통량(대)': 0})
new_list.append({'주소': '병천면', '교통량(대)': 0})
new_list.append({'주소': '북면', '교통량(대)': 0})
new_list.append({'주소': '문성동', '교통량(대)': 0})

In [43]:
new_df2 = pd.DataFrame(new_list)

In [45]:
final_df = pd.concat([new_df, new_df2])
final_df

      주소         교통량(대)       가중치
0    목천읍   19788.583333  0.037554
1    백석동  526936.833310  1.000000
2    봉명동   13284.750003  0.025211
3   부성1동  352985.499991  0.669882
4   부성2동  352985.499991  0.669882
5   불당1동  281316.749998  0.533872
6   불당2동  281316.749998  0.533872
7    성거읍   37137.416660  0.070478
8   성정1동  182145.541659  0.345669
9   성정2동  182145.541659  0.345669
10   성환읍   22782.000000  0.043235
11   신방동  290470.250011  0.551243
12   신부동    6343.250000  0.012038
13   신안동  346398.249986  0.657381
14  쌍용1동  160169.416662  0.303963
15  쌍용2동  160169.416662  0.303963
16  쌍용3동  160169.416662  0.303963
17  원성1동   68980.958335  0.130909
18  원성2동   68980.958335  0.130909
19   입장면       0.000000  0.000000
20   중앙동   46727.250000  0.088677
21   직산읍       0.000000  0.000000
22   청룡동  488841.416656  0.927704
0    풍세면       0.000000       NaN
1    광덕면       0.000000       NaN
2     북면       0.000000       NaN
3    성남면       0.000000       NaN
4    수신면       0.000000       NaN
5    병천면       0.000000       NaN
6     북면       0.000000       NaN
7    문성동       0.000000       NaN

In [47]:
import numpy as np

final_df = final_df.replace(np.nan, 0)
final_df

      주소         교통량(대)       가중치
0    목천읍   19788.583333  0.037554
1    백석동  526936.833310  1.000000
2    봉명동   13284.750003  0.025211
3   부성1동  352985.499991  0.669882
4   부성2동  352985.499991  0.669882
5   불당1동  281316.749998  0.533872
6   불당2동  281316.749998  0.533872
7    성거읍   37137.416660  0.070478
8   성정1동  182145.541659  0.345669
9   성정2동  182145.541659  0.345669
10   성환읍   22782.000000  0.043235
11   신방동  290470.250011  0.551243
12   신부동    6343.250000  0.012038
13   신안동  346398.249986  0.657381
14  쌍용1동  160169.416662  0.303963
15  쌍용2동  160169.416662  0.303963
16  쌍용3동  160169.416662  0.303963
17  원성1동   68980.958335  0.130909
18  원성2동   68980.958335  0.130909
19   입장면       0.000000  0.000000
20   중앙동   46727.250000  0.088677
21   직산읍       0.000000  0.000000
22   청룡동  488841.416656  0.927704
0    풍세면       0.000000  0.000000
1    광덕면       0.000000  0.000000
2     북면       0.000000  0.000000
3    성남면       0.000000  0.000000
4    수신면       0.000000  0.000000
5    병천면       0.000000  0.000000
6     북면       0.000000  0.000000
7    문성동       0.000000  0.000000

In [49]:
final_df = final_df.reset_index(drop=True)
final_df

      주소         교통량(대)       가중치
0    목천읍   19788.583333  0.037554
1    백석동  526936.833310  1.000000
2    봉명동   13284.750003  0.025211
3   부성1동  352985.499991  0.669882
4   부성2동  352985.499991  0.669882
5   불당1동  281316.749998  0.533872
6   불당2동  281316.749998  0.533872
7    성거읍   37137.416660  0.070478
8   성정1동  182145.541659  0.345669
9   성정2동  182145.541659  0.345669
10   성환읍   22782.000000  0.043235
11   신방동  290470.250011  0.551243
12   신부동    6343.250000  0.012038
13   신안동  346398.249986  0.657381
14  쌍용1동  160169.416662  0.303963
15  쌍용2동  160169.416662  0.303963
16  쌍용3동  160169.416662  0.303963
17  원성1동   68980.958335  0.130909
18  원성2동   68980.958335  0.130909
19   입장면       0.000000  0.000000
20   중앙동   46727.250000  0.088677
21   직산읍       0.000000  0.000000
22   청룡동  488841.416656  0.927704
23   풍세면       0.000000  0.000000
24   광덕면       0.000000  0.000000
25    북면       0.000000  0.000000
26   성남면       0.000000  0.000000
27   수신면       0.000000  0.000000
28   병천면       0.000000  0.000000
29    북면       0.000000  0.000000
30   문성동       0.000000  0.000000

In [51]:
final_df = final_df.sort_values("가중치", ascending=False)

In [53]:
final_df.reset_index(drop=True, inplace=True)

In [55]:
final_df.to_csv("./data/traffic_weight_final.csv", index=False)